body{
  margin: 0;
  overflow-x: hidden;
  /*overflow-y: hidden;*/
}
.container{
  width: 100%;
  height: 100vh;
  background: #3370e5;
  display: flex;
  flex-wrap: wrap;
  /*margin: 5px;*/

}
.menu{
  width: 100%;
  height: 10%;
  background: #cdd7e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_menu{
  width: 150px;
  height: 50px;
  background: #102b40;
  margin-left: 30px;
  border-radius: 10px;
}
.right_menu{
  margin-right: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fa-magnifying-glass, .fa-bars{
  width: 50px;
  font-size: 30px;
}
.side_menu{
  width: 20%;
  height: 100vh;
  background: #4d85ab;

}
.side-menu-box{
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /*flex-wrap: wrap;*/
  flex-direction: column;
}
.side-menu-box-left{
  width: 100px;
  height: 30px;
  background: #102b40;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  width: 80%;
  height: 100vh;
  background: #102b3e;
  display: flex;
  flex-wrap: wrap;
}
.squares3{
  width: 100%;
  height: 30%;
  background: #dcce76;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.squares4 {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.squares4-box{
  width: 24%;
  height: 85%;
  background: #50c9ad;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.squares5{
  width: 80%;
  height: 40%;
  background: #6964e1;
  display: flex;
  justify-content: space-evenly;

}
.squares5-box-2{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.squares5-box{
  width: 49%;
  height: 12%;
  background: #402c8a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.squares5-box1{
  width: 49%;
  height: 12%;
  background: #402c8a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.squares5-box2{
  width: 49%;
  height: 12%;
  background: #402c8a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.squares6{
  width: 20%;
  height: 40%;
  background: #ffdd00;
  display: flex;
  justify-content: space-evenly;
}
.squares6-box-2{
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.squares6-box{
  color: white;
  background: #ff8800;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.squares6-box-1{
  color: white;
  background: #ff8800;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.squares7{
  width: 100%;
  height: 10%;
  background: #dc76d7;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.squares7-box{
  width: 95%;
  height: 35%;
  background: #102b3e;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.squares7-box-2{
  width: 25%;
  height: 35%;
  background: #102b3e;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media screen and (max-width:992px) {
  body{
    margin: 0;
    overflow-x: hidden;
  }
  .container{
    width: 100%;
  }
  .side_menu{
    width: 0;
    height:0;

  }
  .side-menu-box{
    width: 0;
    height:0;
  }
  .side-menu-box-left{
    width: 0;
    height:0;
  }
  .header{
    width: 100%;

  }
  .squares4 {
    width: 100%;
    height: 30%;

  }
  .squares4-box{
    width: 35%;
    height: 45%;

  }
  .squares5{
    width: 100%;
  }

  .squares5-box1{
    display: none;
  }
  .squares6{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .squares6-box-2{
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .squares6-box{
    width: 50%;
    height: 32%;

  }

  .squares6-box-1{
    width: 48%;
    height: 100%;
  }

}
@media screen and (max-width:700px) {
  body{
    margin: 0;
    overflow-x: hidden;
  }
  .container{
    width: 100%;
  }
  .menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .right_menu{
    width: 25%;
    display: flex;
  }
  .left_menu{
    width: 100%;
    height: 20px;
    margin: 0;
  }
  .side_menu{
    width: 0;
    height:0;

  }
  .side-menu-box{
    width: 0;
    height:0;
  }
  .side-menu-box-left{
    width: 0;
    height:0;
  }
  .header{
    width: 100%;

  }
  .squares4 {
    width: 100%;
    height: 30%;

  }
  .squares4-box{
    width: 35%;
    height: 45%;

  }
  .squares5{
    width: 100%;
  }
  .squares5-box-2{
    flex-direction: column;
  }
  .squares5-box{
    width: 98%;
  }
  .squares5-box1{
    display: none;
  }

  .squares6{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .squares6-box-2{
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .squares6-box{
    width: 100%;
    height: 10%;
  }
  .squares6-box-1{
    width: 100%;
    height: 50%;
  }
}
